<!-- <form action="/users" method="post" accept-charset="UTF-8" class="new-user">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username" value="Username">Username</label>
  <input type="text" name="user[username]" id="username">
  <label for="email" value="Email">Email</label>
  <input type="email" name="user[email]" id="email">
  <label for="password" value="Password">Password</label>
  <input type="password" name="user[password]" id="password" autocomplete="off">
  <input type="submit">
</form>

<%= params %> -->
<!--
<%= form_tag "/users", class:"new-user" do %>
  <%= label_tag :username, "Username" %>
  <%= text_field_tag :username, nil, placeholder:"Enter your desired Username" %>
  <%= label_tag :email, "Email" %>
  <%= text_field_tag :email, nil, placeholder:"Enter a valid Email" %>
  <%= label_tag :password, "Password" %>
  <%= password_field_tag :password, nil %>
  <%= submit_tag :submit %>
<% end %>
-->
<%= form_for @user, html: {class: 'new-user'} do |usr| %>
  <%= usr.label :username, 'Username' %>
  <%= usr.text_field :username, placeholder: 'Your username' %>
  <%= usr.label :email, 'Email'%>
  <%= usr.text_field :email, placeholder: 'Your@email.com' %>
  <%= usr.label :password, 'Password' %>
  <%= usr.password_field :password %>
  <%= usr.submit :submit %>
<% end %>
pe
